/* general styling */
body{
	background-repeat: no-repeat;
	background: #E5E5E5; /* Standard syntax */
    padding-bottom: 30px;
}

.page-header {
    border-bottom: 1px solid #400000;
    padding-left: 3%
}


/* form styling */


/* login container styling */


/* doctor page styling */
#doctor{

}

/* footer styling */
.navbar-fixed-bottom{
    font-size: 10px;
    margin-bottom: 0;
    background: transparent;
    border-top: none;
}